.profile-border{
    border: 2px solid;

border-image-source: linear-gradient(135.88deg, #FFFFFF -3.28%, #006ADC 105.08%);


}


@keyframes scaling {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
  
  .scale-animation {
    animation: scaling 2s infinite;
  }
  