.courseCard > div:nth-child(4) {
    width: calc((100% / 5) * 3); /* Three-fifths of the available width */
  }
  .courseCard > div:nth-child(5) {
    width: calc((100% / 5) * 2); /* Two-fifths of the available width */
  }

  .carousel {
    /* width: 500px; */
    margin-right: 5px;
    margin-left: 5px;
  }
  .carousel-inner {
    display: flex;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
    -ms-transition: transform 0.5s ease;
    -o-transition: transform 0.5s ease;
}
  .carousel-slide {
    flex: 0 0 auto;
    width: 377px;
    padding: 1px;
    margin-right: -5px;
    cursor: pointer;
  }
