.error-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5; /* You can adjust the background color */
  }
  
  .error-content {
    text-align: center;
  }
  
  .error-heading {
    font-size: 3rem;
    color: #e74c3c; /* Red color for error heading */
  }
  
  .error-message {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }
  